.phone-content {
  width: 90%;
  max-width: 350px;
  height: 700px;
  min-height: 300px; /* Ensures a minimum height for smaller screens */
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
